[submodule "tests/LevelDB/src/tests/redis-leveldb"]
	path = tests/LevelDB/src/tests/redis-leveldb
	url = git@github.com:KDr2/redis-leveldb.git
	ignore = dirty
[submodule "tests/Redis/tests/scripts/client/redis-code"]
	path = tests/Redis/tests/scripts/client/redis-code
	url = https://github.com/redis/redis.git
[submodule "tests/DeathStar/wrk2/deps/luajit"]
	path = tests/DeathStar/src/wrk2/deps/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "tests/Memcached/src/memcached"]
	path = tests/Memcached/src/memcached
	url = git@github.com:memcached/memcached.git
