benchmark:
  num_keys: 6000000
  key_length: 16
  value_length: 100
  test_duration: 3m
  rps: 40000
  key_distribution:
    zipf: 1.0
  # key_distribution: sequential
  write_ratio: 0.2
  timeout: 1s
  retry_count: 5
  inital_iter_count: 1
  enable_connection_pool: true
  check_correctness: false
  work_dir: /users/toga/cascade_ebpf/tests/LevelDB/src/tests/tmp-data
  # file_prefix: full
  file_prefix: checkpoint
  # file_prefix: lite
  # file_prefix: ebpf
  remote_script:
    root_dir: /users/toga/cascade_ebpf
    # experiment_type: full
    # cpu_limit: 2
    experiment_type:
      checkpoint: 60
    cpu_limit: 2
    # experiment_type:
    #   lite: [3, "87400"]
    # cpu_limit: 3
    # experiment_type:
    #   ebpf: [3, "131100"]
    # cpu_limit: 4.5
    remote_addr: node1
    remote_ssh_port: 22
    write_buffer_size: 536870912
    crash_time: 60s
redis:
  connection:
    addr:
      Tcp: ["node1", 6379]
    db: 0
  pool:
    max_size: 64
