benchmark:
  num_keys: 1000000
  key_length: 16
  value_length: 100
  test_duration: 120s
  rps: 18000
  key_distribution:
    zipf: 1.0
  # key_distribution: sequential
  write_ratio: 0.2
  timeout: 1s
  retry_count: 5
  enable_connection_pool: true
  check_correctness: true
  work_dir: /users/toga/cascade_leveldb/tests/LevelDB/src/tests/tmp-data
  # file_prefix: full
  file_prefix: checkpoint
  # file_prefix: lite
  remote_script:
    root_dir: /users/toga/cascade_leveldb
    # experiment_type: full
    # cpu_limit: 4
    experiment_type:
      checkpoint: 30
    cpu_limit: 4
    # experiment_type:
    #   lite: [4, "81920"]
    # cpu_limit: 5
    remote_addr: node0
    remote_ssh_port: 22
    write_buffer_size: 1073741824
    crash_time: 60s
redis:
  connection:
    addr:
      Tcp: ["node0", 6379]
    db: 0
  pool:
    max_size: 128
