benchmark:
  num_keys: 100000
  value_length: 10000
  init_rps: 10000
  test_duration: 60s
  rps: 7000
  key_distribution:
    zipf: 1.00001
  # key_distribution: sequential
  timeout: 1s
  retry_count: 5
  file_prefix: full
  # file_prefix: lite
  remote_script:
    experiment_type: full
    # experiment_type:
    #   lite: [4, "40960"]
    remote_addr: leveldb-server
    write_buffer_size: 1073741824
    crash_time: 30s
redis:
  connection:
    addr:
      Tcp: ["leveldb-server", 6379]
      # Tcp: ["localhost", 6379]
    db: 0
  pool:
    max_size: 32