<?php

// ob_start();
// var_dump("Request Received");
// error_log(ob_get_clean());
// $start_time = microtime(true);

//$total_num_db_entries = 34511000; 
$total_num_db_entries = 140000;
$database_query_weight = DATABASE_QUERY_WEIGHT;
$servername = "DATABASE_SERVER_IP";
$username = "metastable";
$password = "hello@123";
$memcached_server = "MEMCACHED_SERVER_IP";
//$request_type = $_GET['request_type'];
//$request_size = $_GET['request_size'];
//$arrival_time = $_GET['arrival_time'];
//$retry_policy = $_GET['retry_policy']; 
$request_index = $_GET['request_index'];     
$pool_size = 1; // connections number / core number
$persistent_id = rand(1, $pool_size);
$mem_var = new Memcached($persistent_id);
// $mem_var = new Memcached();
$connected = true;

if( !count($mem_var->getServerList()) )
{
   //  test if port is open to prevent php SEGV
   $connection = fsockopen($memcached_server, '11211', $errno, $errstr, 1);
   if (is_resource($connection)) {
      fclose($connection);
      // $mem_var->resetServerList();
      $mem_var->setOption(Memcached::OPT_BINARY_PROTOCOL, true);
      $mem_var->setOption(Memcached::OPT_COMPRESSION, true);
      // $mem_var->setOption(Memcached::OPT_SERVER_FAILURE_LIMIT, 1);
      // $mem_var->setOption(Memcached::OPT_REMOVE_FAILED_SERVERS, true);
      $mem_var->setOption(Memcached::OPT_TCP_NODELAY, true);
      $mem_var->setOption(Memcached::OPT_LIBKETAMA_COMPATIBLE, true);
      $mem_var->setOption(Memcached::OPT_CONNECT_TIMEOUT, 1);
      $connected = $mem_var->addServer($memcached_server,11211);
   } else {
      $connected = false;
   }
}

// $end_time = microtime(true);
// $execution_time = ($end_time - $start_time) * 1000000;
// ob_start();
// var_dump("Memcached Connected: ". $execution_time . " us");
// error_log(ob_get_clean());
// $start_time = microtime(true);

$memcached_response = 0;

if ($connected) $memcached_response =  $mem_var->get($request_index) ;   

// ob_start();
// var_dump($request_index);
// var_dump($mem_var->getResultCode());
// error_log(ob_get_clean());
if ($memcached_response) {

  // $end_time = microtime(true);
  // $execution_time = ($end_time - $start_time) * 1000000;
  // ob_start();
  // var_dump("Data was found in Memcached: ". $execution_time . " us");
  // error_log(ob_get_clean());

    #echo "Data was found in memcached\r\n";
    //echo $memcached_response;  
   echo 1; 
  
} else 
{  

      // $end_time = microtime(true);
      // $execution_time = ($end_time - $start_time) * 1000000;
      // ob_start();
      // var_dump("Data was NOT found in Memcached: ". $execution_time . " us");
      // error_log(ob_get_clean());
      // $start_time = microtime(true);

      $current_index = $request_index;
      $dbh =mysqli_connect($servername, $username, $password);

      // $end_time = microtime(true);
      // $execution_time = ($end_time - $start_time) * 1000000;
      // ob_start();
      // var_dump("MySQL Connected: ". $execution_time . " us");
      // error_log(ob_get_clean());
      // $start_time = microtime(true);
      
      if (!$dbh){        
        //   die("Unable to connect to MySQL: " . mysqli_error($dbh));
        echo -94;
        exit();
      }
      if (!mysqli_select_db($dbh,'metastable_test_db'))  {
          echo -94;
          exit();
          //die("Unable to select database: " . mysqli_error($dbh));         
      }

      // $end_time = microtime(true);
      // $execution_time = ($end_time - $start_time) * 1000000;
      // ob_start();
      // var_dump("MySQL DB Selected: ". $execution_time . " us");
      // error_log(ob_get_clean());
      // $start_time = microtime(true);

      //   for ($y = 0; $y < $database_query_weight  ; $y++){

      //         $sql_stmt2 = "SELECT SQL_NO_CACHE L2.id  from large_test_table L1 join large_test_table L2 on L1.tcol04 = L2.id where  L1.id = " . $current_index;          
      //         $result = mysqli_query($dbh,$sql_stmt2);

      //         if (!$result){      
      //             echo -95 ;
      //             exit();
      //         }

      //         $rows = mysqli_num_rows($result); 
            
      //         if(!$rows){
      //             echo -96;
      //             exit();
      //             }          

      //         $data_array = mysqli_fetch_array($result);  
      //         $current_index = $data_array[0];
      // }


      // $sql_stmt3 = "SELECT SQL_NO_CACHE *  from large_test_table L1 join large_test_table L2 on L1.tcol04 = L2.id where  L1.id = " . $current_index;
      // $result = mysqli_query($dbh,$sql_stmt3);

      // DELIMITER //
      // CREATE PROCEDURE PerformJoin(IN current_index INT, IN query_weight INT)
      // BEGIN
      //   DECLARE i INT DEFAULT 0;
      //   DECLARE new_index INT;

      //   WHILE i < query_weight DO
      //     SELECT SQL_NO_CACHE L2.id INTO new_index
      //     FROM large_test_table L1
      //     JOIN large_test_table L2 ON L1.tcol04 = L2.id
      //     WHERE L1.id = current_index;

      //     UPDATE large_test_table SET tcol07 = tcol07 * 1.0000001 WHERE id = new_index;

      //     SET current_index = new_index;
      //     SET i = i + 1;
      //   END WHILE;

      //   SELECT SQL_NO_CACHE *
      //   FROM large_test_table L1
      //   JOIN large_test_table L2 ON L1.tcol04 = L2.id
      //   WHERE L1.id = current_index;
      // END //
      // DELIMITER ;
      // GRANT EXECUTE ON metastable_test_db.* TO 'metastable'@'%';
      // FLUSH PRIVILEGES;

      $result = mysqli_query($dbh,"CALL PerformJoin($request_index, $database_query_weight)");

      // $end_time = microtime(true);
      // $execution_time = ($end_time - $start_time) * 1000000;
      // ob_start();
      // var_dump("MySQL Query Executed: ". $execution_time . " us");
      // error_log(ob_get_clean());
      // $start_time = microtime(true);

      if ($result === false) {
        die('Error : ('. $dbh->errno .') '. $dbh->error);
      }

      $data_array = mysqli_fetch_array($result);
      $result -> free_result();
      $dbh -> close();
      
      // $end_time = microtime(true);
      // $execution_time = ($end_time - $start_time) * 1000000;
      // ob_start();
      // var_dump("MySQL Query Result Fetched: ". $execution_time . " us");
      // error_log(ob_get_clean());
      // $start_time = microtime(true);
      
      $stringified_data = implode("+",$data_array);  
      #echo $stringified_data . "\n";
      if ($connected) {
      $mem_set_result = $mem_var->set($request_index,  $stringified_data);
      
      // $end_time = microtime(true);
      // $execution_time = ($end_time - $start_time) * 1000000;
      // ob_start();
      // var_dump("Memcached Set Response: ". $execution_time . " us");
      // error_log(ob_get_clean());
      // $start_time = microtime(true);

      if(!$mem_set_result){
          if ($mem_var->getResultCode() == 35) { // MEMCACHED_SERVER_MARKED_DEAD
            $mem_var->quit();
            $mem_var->resetServerList();
          } else {
            ob_start();
            var_dump($mem_set_result);
            var_dump($mem_var->getResultCode());
            error_log(ob_get_clean());
          }
          // echo -97;
          // exit();
          }
        }

      echo 2;   

  }
          
 ?>
