CREATE USER 'metastable'@'remote_server_ip' IDENTIFIED WITH mysql_native_password BY 'hello@123';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on *.* TO 'metastable'@'remote_server_ip' WITH GRANT OPTION;
FLUSH PRIVILEGES;